* {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.header {
  padding-left: 2rem;
  height: 64px;
  background-color: rgb(235, 239, 251);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.headerNav {
  display: flex;
  flex-direction: row;
  grid-gap: 2rem;
  list-style: none;
  margin-right: 6rem;
}
.headerNav a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(61, 66, 83);
  font-size: 16px;
  text-transform: uppercase;
}
.headerNav a:hover {
  color: rgb(255, 3, 51);
}
.logoSec {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 5px;
}
.logo {
  width: 5rem;
}

main {
  background-color: rgb(255, 255, 255);
  width: 100%;
}

section {
  width: 100%;
  min-height: 80vh;
  background-color: rgb(235, 239, 251);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#home .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-gap: 10rem;
  max-width: 1200px;
}
.homeLeft {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 2rem;
}
.jobDesc {
  font-size: 13px;
}
.jobDesc span {
  font-size: 16px;
  color: rgb(255, 3, 51);
  font-weight: bold;
}
.resume {
  background-color: rgb(255, 3, 51);
  padding: 8px 6px;
  border-radius: 2px;
  border: none;
  font-size: 12px;
  font-weight: lighter;
  margin-top: 2rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.homeLeft ul {
  margin-top: 1rem;
  display: flex;
}

.homeLeft ul li {
  list-style: none;
}

.homeLeft ul li a {
  width: 50px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.homeLeft ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

.homeLeft ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.homeLeft ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}

.homeLeft ul li a:hover:before {
  top: 0;
}

.homeLeft ul li:nth-child(1) a:before {
  background: #f86612;
}

.homeLeft ul li:nth-child(2) a:before {
  background: #24f540;
}

.homeLeft ul li:nth-child(3) a:before {
  background: #0077b5;
}

.homeLeft ul li:nth-child(4) a:before {
  background: #dd4b39;
}

.hello {
  display: flex;
  align-items: center;
  grid-gap: 2px;
  font-size: 16px;
  font-weight: bold;
}
.hello hr {
  width: 2rem;
  border-bottom: 1px solid rgb(61, 58, 58);
}
#home h3 {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  font-size: 3rem;
}
.name span {
  color: rgb(255, 3, 51);
}
.bg-image {
  width: 100%;
  display: flex;
}
.homeRight {
  width: 100%;
  display: flex;
}

#about {
  background-color: white;
}
#about .container {
  padding-top: 8rem;
  background-color: white;
}
#about h2 {
  font-size: 36px;
}
.underline1 {
  background-color: #333;
  width: 8rem;
  height: 5px;
  border-radius: 10px;
}
.underline2 {
  margin-top: 2px;
  margin-left: 12px;
  background-color: #333;
  width: 8rem;
  height: 5px;
  border-radius: 10px;
}
.aboutMe {
  margin-top: 4rem;
  margin-left: 2rem;
  font-size: 19px;
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  padding-right: 18rem;
}
#skills{
  background-color: white;

}
#skills .container {
  padding-top: 8rem;
  background-color: white;
  padding-bottom: 12rem;
}
#skills h2 {
  font-size: 36px;
}
#experience .container {
  padding-top: 8rem;
  padding-bottom: 12rem;
}
#experience h2 {
  font-size: 36px;
}
.underline1 {
  background-color: #333;
  width: 8rem;
  height: 5px;
  border-radius: 10px;
}
.underline2 {
  margin-top: 2px;
  margin-left: 12px;
  background-color: #333;
  width: 8rem;
  height: 5px;
  border-radius: 10px;
}

.experienceCom {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.skill {
  cursor: pointer;
  list-style: none;
  background-color: whitesmoke;
  padding: 2rem;
  padding-bottom: 3rem;
  box-shadow: -12px -12px 25px rgb(209, 209, 209),
    12px 12px 25px rgba(165, 181, 248, 0.4);
  transition: transform 0.3s ease;
}
.expp {
  padding: 30px 0;
  cursor: pointer;
  list-style: none;
  background-color: whitesmoke;
  padding: 2rem;
  padding-bottom: 3rem;
  box-shadow: -12px -12px 25px rgb(209, 209, 209),
    12px 12px 25px rgba(165, 181, 248, 0.4);
  transition: transform 0.3s ease;
}
.web-dev {
  box-shadow: 0 0 10px rgba(26, 255, 26, 0.5);
  background-color: #bcd1ff;
}
.skill:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.skill h3 {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 26px;
}
.expDetails{
  padding: 20px 43px 30px 43px;
  list-style: inside;
}
.expp:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.expp h3 {
  margin-bottom: 1.2rem;
  text-align: center;
  font-size: 26px;
}
.listHead {
  font-size: 26px;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.skillList {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  list-style: none;
  font-size: 19px;
  grid-gap: 1rem;
}
.skillList li:hover {
  cursor: zoom-in;
  font-weight: bold;
  text-transform: uppercase;
}

#projects {
  background-color: white;
  padding-bottom: 6rem;
}
#projects .container {
  padding-top: 8rem;
  background-color: white;
}
#projects h2 {
  font-size: 36px;
  margin-bottom: 5px;
}
.underline1 {
  background-color: #333;
  width: 8rem;
  height: 5px;
  border-radius: 10px;
}
.underline2 {
  margin-top: 2px;
  margin-left: 12px;
  background-color: #333;
  width: 8rem;
  height: 5px;
  border-radius: 10px;
}
.projectLists {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  list-style: none;
}
.project {
  box-shadow: 12px 12px 25px rgba(165, 181, 248, 0.4);
  transition: transform 0.3s ease;
}
.project:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.projectDetails {
  padding: 2rem;
}
.project ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-gap: 1rem;
}
.projectCover {
  width: 100%;
}
.project li {
  background-color: #bcd1ff;
  color: #00218f;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 13px;
  font-weight: bold;
}
.projectName {
  text-align: center;
  margin-bottom: 1rem;
  color: #00218f;
  text-transform: uppercase;
  font-size: 24px;
}
.project p {
  padding-bottom: 1rem;
  font-size: 16px;
}
.source {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.git {
  width: 3.5rem;
}

#education .container {
  padding-top: 8rem;
  padding-bottom: 12rem;
}
#education h2 {
  font-size: 36px;
  margin-bottom: 5px;
}
.underline1 {
  background-color: #333;
  width: 8rem;
  height: 5px;
  border-radius: 10px;
}
.underline2 {
  margin-top: 2px;
  margin-left: 12px;
  background-color: #333;
  width: 8rem;
  height: 5px;
  border-radius: 10px;
}
#education li {
  list-style: none;
  display: flex;
  flex-direction: column;
}
#education h3 {
  font-size: 24px;
  margin-bottom: 1rem;
}
#education ul {
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
  margin-top: 4rem;
}
#education p {
  font-size: 18px;
}

#education span {
  font-size: 18px;
  margin-top: 1rem;
  font-weight: bold;
}

footer {
  height: 30vh;
}
#contact {
  background-color: rgb(0, 0, 0);
  padding-bottom: 6rem;
}
#contact .container {
  padding-top: 2rem;
  background-color: rgb(0, 0, 0);
}
#contact h2 {
  font-size: 36px;
  margin-bottom: 5px;
  color: white;
}
#contact hr {
  width: 12rem;
}
.connect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  margin-left: 4rem;
}
.connect span {
  color: white;
  font-size: 30px;
}
.socialMedias {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 2rem;
  list-style: none;
}
.socialMedias a {
  text-decoration: none;
  color: white;
  font-size: 22px;

  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 5px;
}
.socialMedias img {
  width: 38px;
}
.skillsBox {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  grid-gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 900px) {
  .header {
    padding-left: 1rem;
    height: 56px;
    justify-content: center;
  }
  .headerNav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headerNav a {
    font-size: 12px;
  }
  .logoSec {
    display: none;
  }

  .container {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
  }
  .bg-image {
    width: 100%;
  }
  #home .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section {
    width: 100%;
  }
  .homeLeft{
    margin-left: 6rem;
  }
  .homeRight {
    width: 70%;
  }
  .hello {
    display: flex;
    align-items: center;
    grid-gap: 2px;
    font-size: 15px;
    font-weight: bold;
  }

  #home h3 {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    font-size: 2rem;
  }
  .homeLeft ul li a {
    width: 38px;
    height: 38px;
    text-align: center;
    font-size: 29px;
    margin: 0 10px;
  }




  #about .container {
    padding-top: 8rem;
    background-color: white;
  }
  #about h2 {
    font-size: 28px;
  }
  .underline1 {
    background-color: #333;
    width: 6rem;
    height: 4px;
    border-radius: 10px;
  }
  .underline2 {
    margin-top: 2px;
    margin-left: 12px;
    background-color: #333;
    width: 6rem;
    height: 4px;
    border-radius: 10px;
  }
  .aboutMe {
    margin-top: 4rem;
    margin-left: 2rem;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    padding-right: 8rem;
    padding-bottom: 6rem;
  }



  #skills .container {
    padding-bottom: 6rem;
  }
  #skills h2 {
    font-size: 28px;
  }
  #experience .container {
    padding-bottom: 6rem;
  }
  #experience h2 {
    font-size: 28px;
  }
  .underline1 {
    background-color: #333;
    width: 6rem;
    height: 4px;
    border-radius: 10px;
  }
  .underline2 {
    margin-top: 2px;
    margin-left: 12px;
    background-color: #333;
    width: 6rem;
    height: 4px;
    border-radius: 10px;
  }
  
  .skillsBox {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    grid-gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .skill {
    cursor: pointer;
    list-style: none;
    background-color: whitesmoke;
    padding: 1.5rem;
    padding-bottom: 2rem;
    box-shadow: -12px -12px 25px rgb(209, 209, 209),
      12px 12px 25px rgba(165, 181, 248, 0.4);
    transition: transform 0.3s ease;
  }
  .web-dev {
    box-shadow: 0 0 10px rgba(26, 255, 26, 0.5);
    background-color: #bcd1ff;
  }
  .skill:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
  .skill h3 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 20px;
  }
  .expDetails{
    padding: 10px 23px 15px 23px;
    list-style: inside;
  }
  .expp h3 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 20px;
  }
  .listHead {
    font-size: 20px;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .skillList {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    padding: 0 4rem;
    list-style: none;
    font-size: 16px;
    grid-gap: 1rem;
  }
  .skillList li:hover {
    cursor: zoom-in;
    font-weight: bold;
    text-transform: uppercase;
  }



  #projects .container {
    padding-top: 3rem;
    background-color: white;
  }
  #projects h2 {
    font-size: 28px;
    margin-bottom: 5px;
  }
  .underline1 {
    background-color: #333;
    width: 6rem;
    height: 4px;
    border-radius: 10px;
  }
  .underline2 {
    margin-top: 2px;
    margin-left: 12px;
    background-color: #333;
    width: 6rem;
    height: 4px;
    border-radius: 10px;
  }
  .projectLists {
    margin-top: 2rem;
    display: grid;
    padding: 0 2rem;
    grid-template-columns: 1fr ;
    grid-gap: 2rem;
    list-style: none;
  }
  
  .project ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-gap: 1rem;
  }
  .projectCover {
    width: 100%;
  }
  .project li {
    background-color: #bcd1ff;
    color: #00218f;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
  }
  .projectName {
    text-align: center;
    margin-bottom: 1rem;
    color: #00218f;
    text-transform: uppercase;
    font-size: 20px;
  }
  .project p {
    padding-bottom: 1rem;
    font-size: 16px;
  }
  .source {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .git {
    width: 3.5rem;
  }



  #education .container {
    padding-top: 4rem;
    padding-bottom: 14rem;
  }
  #education h2 {
    font-size: 28px;
    margin-bottom: 5px;
  }
  .underline1 {
    background-color: #333;
    width: 6rem;
    height: 4px;
    border-radius: 10px;
  }
  .underline2 {
    margin-top: 2px;
    margin-left: 12px;
    background-color: #333;
    width: 6rem;
    height: 4px;
    border-radius: 10px;
  }
  #education li {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
  }
  #education h3 {
    font-size: 21px;
    margin-bottom: 1rem;
  }
  #education ul {
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;
    margin-top: 4rem;
  }
  #education p {
    font-size: 16px;
  }
  
  #education span {
    font-size: 16px;
    margin-top: 1rem;
    font-weight: bold;
  }
  
  footer {
    height: 20vh;
  }
  #contact {
    background-color: rgb(0, 0, 0);
    padding-bottom: 6rem;
  }
  #contact .container {
    padding-top: 2rem;
    background-color: rgb(0, 0, 0);
  }
  #contact h2 {
    font-size: 28px;
    margin-bottom: 5px;
    color: white;
  }
  #contact hr {
    width: 9rem;
  }
  .connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 2rem;
    margin-top: 3rem;
  }
  .connect span {
    color: white;
    font-size: 24px;
  }
  .socialMedias {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 2rem;
    list-style: none;
    margin-bottom: 3rem;
    margin-right: 4rem;
  }
  .socialMedias a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 5px;
  }
  .socialMedias img {
    width: 34px;
  }
}



@media screen and (max-width: 550px) {
    .header {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 6rem;
    }

    .headerNav a {
      font-size: 10px;
    }
    
    .container {
      max-width: 480px;
      width: 100%;
      margin: 0 auto;
    }
    .bg-image {
      width: 100%;
    }
    #home .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    section {
      width: 100%;
    }
    .homeLeft{
      margin-right: 4rem;
    }
    .homeRight {
      width: 70%;
    }
    .hello {
      display: flex;
      align-items: center;
      grid-gap: 2px;
      font-size: 14px;
      font-weight: bold;
    }
  
    #home h3 {
      display: flex;
      align-items: center;
      grid-gap: 16px;
      font-size: 1.5rem;
    }
    .homeLeft ul li a {
      width: 35px;
      height: 35px;
      text-align: center;
      font-size: 27px;
      margin: 0 10px;
    }
    .jobDesc{
        text-align: center;
        padding: 0 1rem;
    }
  
  
  
  
    #about .container {
      padding-top: 4rem;
      background-color: white;
    }
    #about h2 {
      font-size: 22px;
    }
    .underline1 {
      background-color: #333;
      width: 4rem;
      height: 3px;
      border-radius: 10px;
    }
    .underline2 {
      margin-top: 2px;
      margin-left: 12px;
      background-color: #333;
      width: 4rem;
      height: 3px;
      border-radius: 10px;
    }
    .aboutMe {
      margin-top: 2rem;
      margin-left: 2rem;
      font-size: 15px;
      display: flex;
      flex-direction: column;
      grid-gap: 1rem;
      padding-right: 8rem;
      padding-bottom: 6rem;
    }
  
  
  
    #skills .container {
      padding-bottom: 4rem;
    }
    #skills h2 {
      font-size: 22px;
    }
    .underline1 {
      background-color: #333;
      width: 4rem;
      height: 3px;
      border-radius: 10px;
    }
    .underline2 {
      margin-top: 2px;
      margin-left: 12px;
      background-color: #333;
      width: 4rem;
      height: 3px;
      border-radius: 10px;
    }
    
    .skillsBox {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    
    .skill h3 {
      margin-bottom: 10px;
      text-align: center;
      font-size: 18px;
    }
    .listHead {
      font-size: 18px;
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    .skillList {
      display: grid;
      grid-template-columns: 1fr 1fr auto;
      padding: 0 3rem;
      list-style: none;
      font-size: 14px;
      grid-gap: 1rem;
    }

  
  

    #projects h2 {
      font-size: 22px;
      margin-bottom: 5px;
    }
    .underline1 {
      background-color: #333;
      width: 4rem;
      height: 3px;
      border-radius: 10px;
    }
    .underline2 {
      margin-top: 2px;
      margin-left: 12px;
      background-color: #333;
      width: 4rem;
      height: 3px;
      border-radius: 10px;
    }
    .projectLists {
      margin-top: 2rem;
      display: grid;
      padding: 0 2rem;
      grid-template-columns: 1fr ;
      grid-gap: 2rem;
      list-style: none;
    }
    
    .project ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      grid-gap: 1rem;
    }
    .projectCover {
      width: 100%;
    }
    .project li {
      background-color: #bcd1ff;
      color: #00218f;
      padding: 2px 8px;
      border-radius: 12px;
      font-size: 12px;
      font-weight: bold;
    }
    .projectName {
      text-align: center;
      margin-bottom: 1rem;
      color: #00218f;
      text-transform: uppercase;
      font-size: 16px;
    }
    .project p {
      padding-bottom: 1rem;
      font-size: 14px;
    }
    .source {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .git {
      width: 3.5rem;
    }
  
  
  
    #education .container {
      padding-top: 4rem;
      padding-bottom: 8rem;
    }
    #education h2 {
      font-size: 22px;
      margin-bottom: 5px;
    }
    .underline1 {
      background-color: #333;
      width: 4rem;
      height: 3px;
      border-radius: 10px;
    }
    .underline2 {
      margin-top: 2px;
      margin-left: 12px;
      background-color: #333;
      width: 4rem;
      height: 3px;
      border-radius: 10px;
    }
    
    #education h3 {
      font-size: 18px;
      margin-bottom: 1rem;
    }
    
    #education p {
      font-size: 14px;
    }
    
    #education span {
      font-size: 14px;
      margin-top: 1rem;
      font-weight: bold;
    }
    
    
   
    #contact h2 {
      font-size: 22px;
      margin-bottom: 5px;
      color: white;
    }
    #contact hr {
      width: 7rem;
    }
    #contact .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .connect {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-gap: 1rem;
      margin-top: 3rem;
    }
    .connect span {
      color: white;
      font-size: 22px;
    }
    .socialMedias {
      display: flex;
      flex-direction: row;
      align-items: center;
      grid-gap: 10px;
      list-style: none;
      margin-bottom: 3rem;
    }
    .socialMedias a {
      text-decoration: none;
      color: white;
      font-size: 11px;
    
      display: flex;
      flex-direction: row;
      align-items: center;
      grid-gap: 5px;
    }
    .socialMedias img {
      width: 20px;
    }
  }
  